*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}




  .swal2-modal{
    position: absolute;
    width: 25%;
    top: -10%;
    left: 40%;
  }

  .swal2-container{
    width: 100vw;
    height: 100vh;
    display: relative;
  }


  .swal2-container{
    width: 100vw;
    height: 100vh;
    display: relative;
  }
  
  .swal2-center{
    width: 100vw;
    height: 100vh;
    display: relative;
  }
  
  .swal2-backdrop-show{
    width: 100vw;
    height: 100vh;
    display: relative;
  }


  div:where(.swal2-container){
    display: none;
  }


  .swal-modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .swal2-container {
    display: block !important;
    position: absolute !important;
    overflow: none !important;
    width: 100vw !important;
    height: 100vh !important;
    font-family: "Betterflies" !important;
    
  }

  .swal2-title{
    font-family: "Betterflies" !important;
    font-size: calc(1.5vw + 1.5vh) !important;
    font-weight: 600 !important;
    margin-bottom: 2%;
    background: linear-gradient(to bottom, black, red);
    -webkit-background-clip: text !important;
    color: transparent !important;  
  }

  .swal2-container >div{
    position: absolute !important;
    top: 3%;
    left: 35.5%;
    width: 30%;
    background-color:white !important;
    border: 5px solid rgba(5, 51, 5, 0.411) !important;
    border-radius: 10px !important;
  }


body.swal2-shown:not(.swal2-no-backdrop):not(.swal2-toast-shown) {
    overflow: visible !important;
}

#body{
    height: 100vh !important; 
}

.swal2-close {
    font-size: 20px !important;
}

.swal2-confirm{
    font-size: calc(.5vw + .5vh)!important;
    position: absolute;
    bottom: 2%;
    background: linear-gradient(45deg, #8B4513, #556B2F) !important;
    border: none !important;

}


.swal2-styled{
    font-size: calc(.5vw + .5vh)!important;
}