* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    width: 100vw;
    height: 300vh;
    background-image: linear-gradient(to right, #00000088, #1e1b1b81, #342f2d85, #4a464086, #5e5f568c, #5e5f568f, #5e5f5685, #5e5f568c, #4a464096, #342f2d8c, #1e1b1b88, #00000083), url(../Img/Somos/fondobody2.jpg);
    background-size: 100% 100%;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

header {
    width: 100%;
    height: 30%;
    background-image: url(../img/somos/header.png);
    background-size: 100% 100%;
    filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 5));
    position: relative;
    scroll-behavior: smooth;
}

    header > h2 {
        width: 80%;
        position: absolute;
        top: 0;
        left: 10%;
        height: 40%;
        /* border: 3px solid black; */
        text-align: center;
        font-size: calc(8vw + 8vh);
        font-family: "Tropical";
        font-weight: 100;
        letter-spacing: calc(1.5vw + 1.5vh);
        text-shadow: 3px 3px 5px rgb(0, 0, 0), 6px 6px 5px rgb(208, 231, 3), 9px 9px 5px rgb(247, 90, 0);
        color: rgb(255, 255, 255);
    }

nav {
    width: 60%;
    height: 10%;
    left: 20%;
    position: absolute;
    bottom: 55%;
    display: flex;
    justify-content: space-evenly;
}

    nav > a {
        width: 30%;
        text-align: center;
        padding-top: 2%;
        font-size: calc(1.6vw + 1.6vh);
        text-decoration: none;
        font-family: "Betterflies";
        text-shadow: 3px 3px 5px rgb(0, 0, 0), 6px 6px 5px rgb(0, 0, 0), 9px 9px 5px rgb(0, 0, 0);
        color: rgb(255, 255, 255);
        font-weight: 100;
        font-family: "Nikotinus";
    }

.sec {
    width: 100%;
    height: 17.5%;
    position: relative;
    /* border: 3px solid black; */
}

    .sec > .rama1 {
        width: 34%;
        position: absolute;
        top: 20%;
        left: 0;
        height: 70%;
        background-image: url(../img/somos/ramas2.png);
        background-size: 100% 100%;
    }

    .sec > .rama2 {
        width: 34%;
        position: absolute;
        top: 20%;
        right: 0;
        height: 70%;
        background-image: url(../img/somos/ramas2.png);
        background-size: 100% 100%;
        transform: scaleX(-1)
    }

.panal {
    width: 45%;
    height: 150%;
    background-image: url(../img/somos/panal.png);
    background-size: 100% 100%;
    position: absolute;
    top: -12%;
    left: 27.5%;
    z-index: 3;
}

    .panal > h2 {
        font-size: calc(3.5vw + 3.5vh);
        font-family: "Betterflies";
        text-shadow: 0px 0px 5px rgb(0, 0, 0), 6px 6px 5px rgb(0, 0, 0), 9px 9px 5px rgb(0, 0, 0);
        color: rgb(255, 255, 255);
        font-weight: 100;
        font-family: "Nikotinus";
        position: absolute;
        /* border: 3px solid black; */
        width: 55%;
        letter-spacing: calc(1.2vw + 1.2vh);
        height: 20%;
        text-align: center;
        top: 25%;
        left: 23%;
    }

    .panal > button {
        width: 13%;
        height: 20%;
        background-color: #00000000;
        background-image: url(../img/somos/flecha.png);
        background-size: 100% 100%;
        position: absolute;
        bottom: 33%;
        left: 43.5%;
        border: none;
        cursor: pointer;
        filter: drop-shadow(0px 0px 20px black);
        transition: .3s linear;
    }

        .panal > button:hover {
            filter: drop-shadow(0px 0px 30px black);
            transition: .3s linear;
        }

.info-somos {
    width: 100%;
    margin-top: -2.5%;
    height: 25%;
    position: relative;
    z-index: 1;
    transition: .3s linear;
}

.somos {
    margin-top: 2.5%;
}

.info-somos > div:nth-child(1) {
    width: 60%;
    height: 90%;
    /* background-image: url(img/fondo.png); */
    /* background-size: 100% 100% ; */

    position: absolute;
    left: 20%;
    z-index: 2;
    top: -1%;
    background-color: #c06c32;
    transition: .3s linear;
}

    .info-somos > div:nth-child(1) > img {
        opacity: 0.3;
        width: 100%;
        height: 100%;
    }

    .info-somos > div:nth-child(1) > p {
        width: 80%;
        height: 70%;
        font-size: calc(1.1vw + 1.1vh);
        position: absolute;
        top: 25%;
        left: 10%;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        text-shadow: 3px 3px 5px rgb(0, 0, 0), 6px 6px 5px rgb(208, 231, 3), 9px 9px 5px rgb(247, 90, 0);
    }

.info-somos > div:nth-child(2) {
    width: 33%;
    height: 47%;
    background-image: url(../img/somos/ramas2.png);
    background-size: 100% 100%;
    position: absolute;
    top: -2.5%;
    left: 0;
    z-index: 1;
}

.info-somos > div:nth-child(3) {
    width: 33%;
    height: 47%;
    background-image: url(../img/somos/ramas2.png);
    background-size: 100% 100%;
    position: absolute;
    top: 43%;
    left: 0;
    z-index: 1;
}

.info-somos > div:nth-child(4) {
    width: 33%;
    height: 47%;
    background-image: url(../img/somos/ramas2.png);
    transform: scaleX(-1);
    background-size: 100% 100%;
    position: absolute;
    top: -2.5%;
    right: 0;
    z-index: 1;
}

.info-somos > div:nth-child(5) {
    width: 33%;
    height: 47%;
    background-image: url(../img/somos/ramas2.png);
    transform: scaleX(-1);
    background-size: 100% 100%;
    position: absolute;
    top: 43%;
    right: 0;
    z-index: 1;
}

.hide {
    display: none;
}

.btnE {
    width: 6%;
    height: 20%;
    background-color: #00000000;
    background-image: url(../img/somos/flecha.png);
    background-size: 100% 100%;
    position: absolute;
    bottom: 0;
    left: 46%;
    border: none;
    cursor: pointer;
    filter: drop-shadow(0px 0px 20px black);
    transition: .3s linear;
    z-index: 5;
    transform: scaleY(-1);
}

.info-misionvision {
    width: 100%;
    height: 17.5%;
    position: relative;
    margin-top: 15%;
}

    .info-misionvision > .panal > h2 {
        font-size: calc(2.3vw + 2.3vh);
    }

    .info-misionvision > .panal > button {
        bottom: 25%;
    }

.info-mv {
    width: 100%;
    margin-top: -2.5%;
    height: 25%;
    position: relative;
    z-index: 1;
    transition: .3s linear;
}

    .info-mv > div:nth-child(1) {
        width: 45%;
        height: 80%;
        /* background-image: url(img/fondo.png); */
        /* background-size: 100% 100% ; */

        position: absolute;
        left: 5%;
        z-index: 2;
        top: -1%;
        background-color: #c06c32;
        transition: .3s linear;
    }

    .info-mv > div:nth-child(6) {
        width: 45%;
        height: 80%;
        /* background-image: url(img/fondo.png); */
        /* background-size: 100% 100% ; */

        position: absolute;
        right: 5%;
        z-index: 2;
        top: -1%;
        background-color: #c06c32;
        transition: .3s linear;
    }

        .info-mv > div:nth-child(6) > img {
            opacity: 0.3;
            width: 100%;
            height: 100%;
        }

    .info-mv > div:nth-child(1) > img {
        opacity: 0.3;
        width: 100%;
        height: 100%;
    }

    .info-mv > div:nth-child(1) > p {
        width: 80%;
        height: 70%;
        font-size: calc(1vw + 1vh);
        position: absolute;
        top: 25%;
        left: 10%;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        text-shadow: 3px 3px 5px rgb(0, 0, 0), 6px 6px 5px rgb(208, 231, 3), 9px 9px 5px rgb(247, 90, 0);
    }

    .info-mv > div:nth-child(6) > p {
        width: 80%;
        height: 70%;
        font-size: calc(1vw + 1vh);
        position: absolute;
        top: 30%;
        left: 10%;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        text-shadow: 3px 3px 5px rgb(0, 0, 0), 6px 6px 5px rgb(208, 231, 3), 9px 9px 5px rgb(247, 90, 0);
    }

    .info-mv > div:nth-child(2) {
        width: 33%;
        height: 47%;
        background-image: url(../img/somos/ramas2.png);
        background-size: 100% 100%;
        position: absolute;
        top: -2.5%;
        left: 0;
        z-index: 1;
    }

    .info-mv > div:nth-child(3) {
        width: 33%;
        height: 47%;
        background-image: url(../img/somos/ramas2.png);
        background-size: 100% 100%;
        position: absolute;
        top: 43%;
        left: 0;
        z-index: 1;
    }

    .info-mv > div:nth-child(4) {
        width: 33%;
        height: 47%;
        background-image: url(../img/somos/ramas2.png);
        transform: scaleX(-1);
        background-size: 100% 100%;
        position: absolute;
        top: -2.5%;
        right: 0;
        z-index: 1;
    }

    .info-mv > div:nth-child(5) {
        width: 33%;
        height: 47%;
        background-image: url(../img/somos/ramas2.png);
        transform: scaleX(-1);
        background-size: 100% 100%;
        position: absolute;
        top: 43%;
        right: 0;
        z-index: 1;
    }

    .info-mv > .btnE {
        bottom: 10%;
        left: 47%;
    }

    .info-mv > .mision > p {
        font-size: calc(1vw + 1vh);
    }

.mision > h2 {
    position: absolute;
    top: 7%;
    left: 15%;
    width: 60%;
    letter-spacing: calc(.2vw + .2vh);
    height: 15%;
    font-size: calc(2vw + 2vh);
    text-align: center;
    text-shadow: 0px 0px 5px rgb(0, 0, 0), 6px 6px 5px rgb(0, 0, 0), 9px 9px 5px rgb(0, 0, 0);
    color: rgb(255, 255, 255);
}

.vision > h2 {
    position: absolute;
    top: 7%;
    left: 22%;
    width: 60%;
    letter-spacing: calc(.2vw + .2vh);
    height: 15%;
    font-size: calc(2vw + 2vh);
    text-align: center;
    text-shadow: 0px 0px 5px rgb(0, 0, 0), 6px 6px 5px rgb(0, 0, 0), 9px 9px 5px rgb(0, 0, 0);
    color: rgb(255, 255, 255);
}

.info-proyectos {
    margin-top: 15%;
}

    .info-proyectos > .panal > h2 {
        font-size: calc(3.5vw + 3.5vh);
        font-family: "Betterflies";
        text-shadow: 0px 0px 5px rgb(0, 0, 0), 6px 6px 5px rgb(0, 0, 0), 9px 9px 5px rgb(0, 0, 0);
        color: rgb(255, 255, 255);
        font-weight: 100;
        font-family: "Nikotinus";
        position: absolute;
        /* border: 3px solid black; */
        width: 55%;
        letter-spacing: calc(1vw + 1vh);
        height: 20%;
        text-align: center;
        top: 30%;
        left: 13%;
    }



.info-pro {
    width: 100%;
    margin-top: -2.5%;
    height: 25%;
    position: relative;
    z-index: 1;
    transition: .3s linear;
}

    .info-pro > div:nth-child(1) {
        width: 45%;
        height: 80%;
        /* background-image: url(img/fondo.png); */
        /* background-size: 100% 100% ; */

        position: absolute;
        left: 5%;
        z-index: 2;
        top: -1%;
        background-color: #c06c32;
        transition: .3s linear;
    }

    .info-pro > div:nth-child(6) {
        width: 45%;
        height: 80%;
        /* background-image: url(img/fondo.png); */
        /* background-size: 100% 100% ; */

        position: absolute;
        right: 5%;
        z-index: 2;
        top: -1%;
        background-color: #c06c32;
        transition: .3s linear;
    }

        .info-pro > div:nth-child(6) > img {
            opacity: 0.3;
            width: 100%;
            height: 100%;
        }

    .info-pro > div:nth-child(1) > img {
        opacity: 0.3;
        width: 100%;
        height: 100%;
    }

    .info-pro > div:nth-child(1) > p {
        width: 50%;
        height: 70%;
        font-size: calc(.9vw + .9vh);
        position: absolute;
        top: 25%;
        right: 1%;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        text-shadow: 3px 3px 5px rgb(0, 0, 0), 6px 6px 5px rgb(208, 231, 3), 9px 9px 5px rgb(247, 90, 0);
    }

    .info-pro > div:nth-child(6) > p {
        width: 50%;
        height: 70%;
        font-size: calc(.9vw + .9vh);
        position: absolute;
        top: 25%;
        right: 1%;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        text-shadow: 3px 3px 5px rgb(0, 0, 0), 6px 6px 5px rgb(208, 231, 3), 9px 9px 5px rgb(247, 90, 0);
    }

    .info-pro > div:nth-child(2) {
        width: 33%;
        height: 47%;
        background-image: url(../img/somos/ramas2.png);
        background-size: 100% 100%;
        position: absolute;
        top: -2.5%;
        left: 0;
        z-index: 1;
    }

    .info-pro > div:nth-child(3) {
        width: 33%;
        height: 47%;
        background-image: url(../img/somos/ramas2.png);
        background-size: 100% 100%;
        position: absolute;
        top: 43%;
        left: 0;
        z-index: 1;
    }

    .info-pro > div:nth-child(4) {
        width: 33%;
        height: 47%;
        background-image: url(../img/somos/ramas2.png);
        transform: scaleX(-1);
        background-size: 100% 100%;
        position: absolute;
        top: -2.5%;
        right: 0;
        z-index: 1;
    }

    .info-pro > div:nth-child(5) {
        width: 33%;
        height: 47%;
        background-image: url(../img/somos/ramas2.png);
        transform: scaleX(-1);
        background-size: 100% 100%;
        position: absolute;
        top: 43%;
        right: 0;
        z-index: 1;
    }

    .info-pro > .btnE {
        bottom: 10%;
        left: 47%;
    }

.proyect1 > div {
    width: 45%;
    height: 45%;
    position: absolute;
    border: 3px solid rgba(0, 0, 0, 0.425);
    top: 30%;
    left: 2%;
}

    .proyect1 > div > img {
        width: 100%;
        height: 100%;
    }

.proyect2 > div > img {
    width: 100%;
    height: 100%;
}

.proyect1 > h2 {
    height: 13%;
    position: absolute;
    top: 0;
    width: 50%;
    left: 9%;
    top: 1%;
    z-index: 6;
    text-align: center;
    font-size: calc(2vw + 2vh);
    text-shadow: 0px 0px 5px rgb(0, 0, 0), 6px 6px 5px rgb(0, 0, 0), 9px 9px 5px rgb(0, 0, 0);
    color: rgb(255, 255, 255);
}

.proyect2 > h2 {
    height: 13%;
    position: absolute;
    top: 0;
    width: 50%;
    left: 39%;
    top: 1%;
    z-index: 6;
    text-align: center;
    font-size: calc(2vw + 2vh);
    text-shadow: 0px 0px 5px rgb(0, 0, 0), 6px 6px 5px rgb(0, 0, 0), 9px 9px 5px rgb(0, 0, 0);
    color: rgb(255, 255, 255);
}


.proyect2 > div {
    width: 45%;
    height: 45%;
    position: absolute;
    border: 3px solid rgba(0, 0, 0, 0.425);
    top: 30%;
    left: 2%;
}

    .proyect2 > div > img {
        width: 100%;
        height: 100%;
    }


/* .proyect2 >h2{
    height: 13%;
    position: absolute;
    top: 0;
    width: 50%;
    left: 9%;
    top: 1%;
    z-index: 6;
    text-align: center;
    font-size: calc(2vw + 2vh);
    text-shadow: 0px 0px 5px rgb(0, 0, 0),
       6px 6px 5px rgb(0, 0, 0),
       9px 9px 5px rgb(0, 0, 0);
       color: rgb(255, 255, 255);
} */

.info-pro > div:nth-child(1) {
    width: 45%;
    height: 80%;
    /* background-image: url(img/fondo.png); */
    /* background-size: 100% 100% ; */

    position: absolute;
    left: 5%;
    z-index: 2;
    top: -1%;
    background-color: #c06c32;
    transition: .3s linear;
}

footer {
    width: 100%;
    height: 35%;
    background-image: url(/img/somos/footer3.png);
    background-size: 100% 100%;
    position: relative;
}

    footer > h2 {
        width: 60%;
        height: 20%;
        position: absolute;
        top: 35%;
        left: 20%;
        text-align: center;
        text-shadow: 0px 0px 5px rgb(0, 0, 0), 6px 6px 5px rgb(0, 0, 0), 9px 9px 5px rgb(0, 0, 0);
        color: rgb(255, 255, 255);
        font-size: calc(2.5vw + 2.5vh);
        letter-spacing: calc(.5vw + .5vh);
    }

    footer > div {
        width: 60%;
        height: 30%;
        position: absolute;
        top: 55%;
        left: 20%;
        display: flex;
        justify-content: space-evenly;
        background-color: rgba(240, 248, 255, 0.322);
        border: 3px dashed black;
    }

        footer > div > div {
            width: 40%;
            height: 100%;
        }

            footer > div > div > h2 {
                text-align: center;
                text-shadow: 0px 0px 5px rgb(0, 0, 0), 6px 6px 5px rgb(0, 0, 0), 9px 9px 5px rgb(0, 0, 0);
                color: rgb(255, 255, 255);
                width: 100%;
                height: 50%;
            }

            footer > div > div > p {
                text-align: center;
                text-shadow: 0px 0px 5px rgb(0, 0, 0), 6px 6px 5px rgb(0, 0, 0), 9px 9px 5px rgb(0, 0, 0);
                color: rgb(255, 255, 255);
                width: 100%;
                height: 50%;
                font-size: calc(1.2vw + 1.2vh);
                font-weight: 600;
            }

.copy {
    position: absolute;
    bottom: 5%;
    left: 2%;
    font-size: calc(1vw + 1vh);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

@media screen and (max-width: 658px) {
    header {
        height: 20%;
    }

    .sec {
        height: 12%;
    }
}
