* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    position: relative;
    background-color: #9df3a4;
    background-image: url(~/img/fondoGestion.jpg);
    background-position: center;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    overflow: hidden;
    display: flex;
}

#hiedra-atras {
    background-image: url(../Img/Interfaz/hiedrita-btn-tabla-atras.png);
}

.sectio {
    background-repeat: no-repeat;
    background-size: 75.2% 78%;
    background-position: 48% 45%;
    height: 100%;
    width: 53%;
    margin: 0 auto;
    margin-bottom: 20%;
    transform-origin: top;
    animation-name: balanceoCajita;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;
    margin-top: -1.5%;
    z-index: 3;
}

.sectiofd {
    background-image: url(../Img/SVG/marco-G.png.svg);
    background-repeat: no-repeat;
    background-size: 75.2% 78%;
    background-position: 48% 45%;
    width: 142%;
    height: 91%;
    margin-top: -5.2%;
    margin-left: -21.3%;
    z-index: 5;
    position: absolute;
}

.animated {
    transform-origin: top;
    animation-name: balanceoCajita;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;
}

.marco {
    width: 70.5%;
    height: 101%;
    margin-left: 15%;
    margin-right: 15%;
    margin-top: -4%;
    position: relative;
}



.marco>div:nth-child(5) {
    width: 52.9%;
    height: 7.5%;
    position: absolute;
    bottom: 12%;
    right: 0;
    z-index: 3;
}

.fondo2 {
    background-image: url(../Img/SVG/tabla-inf-der-G.png.svg);
    background-size: 313% 910%;
    background-position: 78.4% 90.6%;
    transition: .3s ease;
}

.tablaR1 {
    transition: .3s ease;
    transform: rotate3d(0, 0, -10, 16deg) translateY(45%);
    background-image: url(../Img/SVG/tabla-inf-der-rota.png.svg);
    background-size: 240% 835%;
    background-position: 78.7% 90%;
}

.marco>div:nth-child(6) {
    width: 52.9%;
    height: 7%;
    position: absolute;
    bottom: 12.1%;
    left: 1%;
    z-index: 2;
}

.fondo {
    background-image: url(../Img/SVG/tabla-infe-izq-G.png.svg);
    background-size: 280% 910%;
    background-position: 188.3% 91%;
    transition: .3s ease;
}

.tablaR2 {
    transition: .3s ease;
    transform: rotate3d(0, 0, 10, 16deg) translateY(50%);
    background-image: url(../Img/SVG/tabla-inf-izq-rota.png.svg);
    background-size: 240% 910%;
    background-position: 198.3% 91%;
    z-index: 3;


}

.marco>div:nth-child(7) {
    width: 38%;
    height: 8.5%;
    position: absolute;
    background-size: 100% 100%;
    bottom: 11.5%;
    left: 32.5%;
    cursor: pointer;
    transition: .3s ease;

}

.btnS {
    z-index: 1;
}

#btnI {
    width: 60%;
    height: 8%;
    margin-top: 4.5%;
    background-color: transparent;
    border: none;
    cursor: pointer;
    letter-spacing: .15vw;
    position: absolute;
    bottom: -16%;
    left: 16%;
}

#btnC {
    width: 60%;
    height: 8%;
    margin-top: 4.5%;
    background-color: transparent;
    border: none;
    cursor: pointer;
    letter-spacing: .15vw;
    position: absolute;
    bottom: -6.5%;
    left: 26%;
}

#btnR {
    width: 100%;
    height: 100%;
    margin-top: 4.5%;
    background-color: transparent;
    border: none;
    cursor: pointer;
    letter-spacing: .15vw;
}

#btnR2 {
    width: 100%;
    height: 100%;
    margin-top: 4.5%;
    background-color: transparent;
    border: none;
    cursor: pointer;
    letter-spacing: .15vw;
}




.fondo3 {
    background-image: url(../Img/Interfaz/tabla-boton.png);
    z-index: 1;
}

.marco>div:nth-child(8) {
    width: 57.9%;
    height: 76.5%;
    background-image: url(../Img/SVG/enredaderas-prinG.png.svg);
    background-size: 126% 100%;
    background-position: 50% 0%;
    position: absolute;
    top: 0%;
    left: 22.05%;
    right: 21.05%;
    z-index: 16;
}

.marco>div:nth-child(8)>h1 {
    width: 50%.9%;
    height: 30%;
    cursor: pointer;
    margin: auto;
    position: absolute;
    margin-bottom: 12%;
    top: 48%;
    left: 25.05%;
    width: 100.9%;
    height: 85%;
    cursor: pointer;

}

#btnAcc {
    width: 90%;
    height: 15%;
    margin-left: -18%;
    margin-top: -5%;
    /* border: 3px solid black; */
    text-align: center;
    justify-content: center;
    padding-top: 5%;
}

.marco>div:nth-child(9) {
    width: 57.9%;
    height: 14%;
    background-size: 265% 730%;
    background-position: 216.2% 69%;
    position: absolute;
    top: 59%;
    left: 21.05%;
    right: 21.05%;
    z-index: 17;
}

.marco>div:nth-child(9)>h1 {
    position: absolute;
    bottom: -14%;
    left: 19.05%;
    width: 100.9%;
    height: 85%;
    cursor: pointer;
    letter-spacing: .2vw;
}

.marco>div:nth-child(10) {
    width: 7.2%;
    height: 20%;
    /* background-color: rgb(74, 70, 149); */
    background-image: url(../Img/Interfaz/hiedra17.png);
    background-size: 180% 120%;
    background-position: 45% 180%;
    position: absolute;
    top: 3%;
    left: 12.55%;
    /* right: 23.55%; */
}

.marco>div:nth-child(11) {
    width: 7.2%;
    height: 20%;
    /* background-color: rgb(74, 70, 149); */
    background-image: url(../Img/Interfaz/hiedra17.png);
    background-size: 180% 90%;
    background-position: 45% 120%;
    position: absolute;
    top: 2%;
    right: 10.55%;
    /* z-index: 45; */
}

.marco>div:nth-child(14) {
    width: 12.4%;
    height: 9%;
    /* background-color: rgb(74, 70, 149); */
    background-image: url(../Img/Interfaz/libelula3.png);
    background-size: 100% 100%;
    /* background-position: 49% 50%; */
    position: absolute;
    top: 54%;
    right: -1%;
    z-index: 15;
    transform: rotate(-56deg);
}

#abejaMichael {
    transition: 2s ease;
}

.marco>div:nth-child(16) {
    width: 22.4%;
    height: 6%;
    /* background-color: rgba(74, 70, 149, 0.674); */
    background-image: url(../Img/Interfaz/btn-miniMadera.png);
    background-size: 100% 100%;
    /* background-position: 59% 55%; */
    position: absolute;
    top: 39%;
    right: -17.5%;
    z-index: 1;
    transform: rotate(70deg);
    transform-origin: 0 0;
    transition: 2.7s ease;
}

.marco>div:nth-child(16)>button {
    width: 90%;
    height: 80%;
    background-color: transparent;
    position: absolute;
    top: 12%;
    left: 6%;
    border: none;
    background-image: url(../Img/Interfaz/flechaVerdeAtras.png);
    background-size: 60% 190%;
    background-position: 100% 55%;
    background-repeat: no-repeat;
}

.marco>div:nth-child(16)>div {
    width: 13.4%;
    height: 160%;
    /* background-color: rgb(74, 70, 149); */
    background-image: url(../Img/Interfaz/hiedrita-btn-tabla-atras.png);
    background-size: 100% 100%;
    background-position: 59% 55%;
    position: absolute;
    top: 0%;
    right: 0%;
    z-index: 15;
    transform: rotate(-66deg) translateX(-55%);
    transform-origin: 0 0;
    transition: 2.9s ease;
}


.button-Retroceder {
    width: 12.4%;
    height: 5%;
    background-size: 100% 100%;
    position: absolute;
    top: 39.6%;
    right: -9.5%;
    z-index: 8;
    cursor: pointer;
}



.marco>div:nth-child(22) {
    width: 15.5%;
    height: 11.4%;
    background-image: url(../Img/Interfaz/marcela-colita.png);
    background-size: 117% 135%;
    background-position: 67% 60%;
    position: absolute;
    top: 20.8%;
    left: 27%;
    z-index: 1;
    transform-origin: top;
    animation-name: balanceoMarcela;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;
}

.marco>div:nth-child(24) {
    width: 6.5%;
    height: 7.5%;
    background-image: url(../Img/Interfaz/hormiga.png);
    background-size: 120% 120%;
    background-position: 5% 40%;
    position: absolute;
    top: 57.9%;
    left: 2.6%;
    z-index: 11;
}

.marco>div:nth-child(25) {
    width: 38.1%;
    height: 28%;
    /* background-color: rgb(74, 70, 149); */
    position: absolute;
    bottom: 16%;
    left: -8.2%;
    z-index: 19;

    animation-name: balanceoTabla3;
    transform-origin: center;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

.MarcelaLengua {
    width: 9.1%;
    height: 2%;
    /* background-color: rgb(74, 70, 149); */
    background-image: url(../Img/Interfaz/lengua.png);
    background-size: 130% 200%;
    background-position: 44% 50%;
    position: absolute;
    bottom: 20.2%;
    left: 17%;
    transition: .5s ease;

    /* margin-top: 50%; */
    /* z-index: 54; */
}

.lenguaMarcela {
    width: 20.1%;
    height: 6%;
    /* background-color: rgba(74, 70, 149, 0.586); */
    background-size: 115% 280%;
    background-position: 0% 65%;
    position: absolute;
    bottom: 19%;
    left: 7%;
    transition: .3s linear;
    margin-top: 50%;
    border-top-right-radius: 305%;
    border-bottom-right-radius: 305%;
    /* border-top-left-radius: 300%; */
    border-bottom-left-radius: 300%;
    /* margin-top: 50%; */
    z-index: 38;
    transform: rotate(10deg);
}

.lengua {
    transition: .3s linear;
    animation: lenguaMarcela ease-in-out;
    animation-duration: 1s;
    transform-origin: right;
    animation-direction: alternate;
    animation-iteration-count: 2;
}


.marco>div:nth-child(27) {
    width: 10%;
    height: 7%;
    /* background-color: rgba(74, 70, 149, 0.399); */
    background-image: url(../Img/Interfaz/escarabjito.png);
    background-size: 100% 100%;
    background-position: 0% 40%;
    position: absolute;
    top: 18.8%;
    left: 34%;
    z-index: 20;
    transform: rotate(50deg);
}


.marco>div:nth-child(33) {
    width: 35.2%;
    height: 32.1%;
    /* background-color: rgba(74, 70, 149, 0.457); */
    background-image: url(../Img/Interfaz/VANESSA-R.png);
    background-size: 100% 100%;
    /* background-position: 40% 35%; */
    position: absolute;
    top: 7.3%;
    right: 6.5%;
    z-index: 27;
    border-bottom-left-radius: 50%;
}

.marco>div:nth-child(36) {
    width: 11.2%;
    height: 8.1%;
    /* background-color: rgb(74, 70, 149); */
    background-image: url(../Img/Interfaz/escarabajito-verde.png);
    background-size: 100% 100%;
    background-position: 5% 40%;
    position: absolute;
    bottom: 12%;
    right: 14.5%;
    z-index: 27;
    transform: rotate(-20deg);
}

.marco>div:nth-child(38) {
    width: 15.2%;
    height: 12.1%;
    /* background-color: rgba(74, 70, 149, 0.535); */
    background-image: url(../Img/Interfaz/abejitaMichael.png);
    background-size: 100% 100%;
    /* background-position: 5% 40%; */
    background-repeat: no-repeat;
    position: absolute;
    bottom: 12.5%;
    right: -2%;
    z-index: 11;
}



#abeja-ala-izq {
    width: 50%;
    height: 100%;
    /* background-color: rgba(74, 70, 149, 0.535); */
    background-image: url(../Img/Interfaz/abejitaMichaelAlaIzquierda.png);
    background-size: 100% 100%;
    /* background-position: 5% 40%; */
    background-repeat: no-repeat;
    position: absolute;
    /* bottom: 12.5%; */
    /* right: -2%; */
    z-index: 27;
    top: 0;
    left: 0;
    transition: .3s ease;
}

.animacionAlaIz {
    transform: rotate(10deg);
}

#abeja-ala-der {
    width: 50%;
    height: 100%;
    /* background-color: rgba(74, 70, 149, 0.535); */
    background-image: url(../Img/Interfaz/abejitaMichaelAlaDerecha.png);
    background-size: 100% 100%;
    /* background-position: 5% 40%; */
    background-repeat: no-repeat;
    position: absolute;
    right: 1%;
    top: -1%;
    /* bottom: 12.5%; */
    /* right: -2%; */
    z-index: 27;
    transition: .3s ease;
}

.animacionAlaDer {
    transform: rotate(-10deg);
}

.marco>div:nth-child(39) {
    width: 15.2%;
    height: 12.1%;
    /* background-color: rgb(74, 70, 149); */
    /* background-image: url(../Img/libelula.png);
    background-size: 80% 80%;
    background-position: 5% 40%;
    background-repeat: no-repeat;
    position: absolute;
    top: 15.5%;
    left: -98%;
    z-index: 27;
    animation-name: animal1Movimiento;
    animation-duration: 7s;
    animation-iteration-count: infinite;
    background-color: red;

    animation-direction: alternate; */
}

.marco>div:nth-child(40) {
    width: 54.2%;
    height: 89.1%;
    /* background-color: rgb(74, 70, 149); */
    /* background-size: 100% 110%; */
    /* background-position: 0% 100%; */
    /* background-repeat: no-repeat; */
    position: absolute;
    top: -1.4%;
    left: 24%;
    /* right: 13.9; */
    z-index: 13;
}

#formUp {
    background-image: url(../Img/Interfaz/tablas-regF.png);
    background-size: 100% 93%;
    background-position: 0% 7%;
    background-repeat: no-repeat;
    position: absolute;
    width: 100%;
    height: 100%;
}




.h12 {
    bottom: 16%;
    width: 85%;
    height: 5%;
    left: 7.7%;
    text-align: center;
}



.h11 {
    position: absolute;
    font-size: calc(1.1vw + 1.1vh);
    letter-spacing: .1vw;
    font-weight: 100;
    background: var(--colorFomularios);
    -webkit-background-clip: text;
    color: transparent;

}



.marco>div:nth-child(40)>form>input {
    width: 76%;
    height: 4%;
    /* outline: 2px solid rgba(223, 182, 50, 0.596); */
    /* background-color: transparent; */
    border: none;
    border-radius: 15px;
    z-index: 35;
    font-size: calc(1.2vw + 1.2vh);
    color: black;
    position: absolute;
    left: 12%;
    /* border: 3px solid rgba(66, 44, 15, 0.609); */
    text-align: center;
    font-family: "Betterflies";
    background: var(--colorFomularios);
    -webkit-background-clip: text;
    color: transparent;
    font-weight: 100;
    font-size: calc(1.5vw + 1.5vh);

}

.marco>div:nth-child(40)>form>textarea {
    width: 76%;
    height: 4%;
    /* outline: 2px solid rgba(223, 182, 50, 0.596); */
    /* background-color: transparent; */
    /* border: none; */
    /* border-radius: 15px; */
    /* z-index: 35; */
    /* font-size: calc(1.2vw + 1.2vh); */
    /* color: black; */
    /* border: 3px solid rgba(66, 44, 15, 0.609); */
    /* text-align: center;
    font-family: "Betterflies";
    background: var(--colorFomularios);
    -webkit-background-clip: text;
    color: transparent;  
    font-weight: 100;
    font-size: calc(1.5vw + 1.5vh); */

}


.marco>div:nth-child(40)>form>input::placeholder {
    font-family: "Nikotinus";
    height: 130%;
    width: 100%;
    background: var(--colorFomularios);
    -webkit-background-clip: text;
    color: transparent;
    font-weight: 100;
    font-size: calc(1.5vw + 1.5vh);
    position: absolute;
    top: -.5vh;
}

#name {
    position: absolute;
    top: 41.4%;
}

#nameUsr::placeholder {
    position: absolute;
    top: -.2vh;
}

#name::placeholder {
    font-family: "Nikotinus";
    height: 130%;
    width: 100%;
    background: var(--colorFomularios);
    -webkit-background-clip: text;
    color: transparent;
    font-weight: 100;
    font-size: calc(1.5vw + 1.5vh);
    position: absolute;
    letter-spacing: -.1vw;
}

.trans {
    background-color: transparent;
}

#name:hover {
    background-color: #fdad3e9d;
    border: none;
}

.marco>div:nth-child(40)>form>input:hover {
    background-color: #fdad3e9d;
    border: none;
}


::placeholder {
    color: rgb(255, 255, 255);
}

#formulario>#formUp>input:nth-child(1) {
    position: absolute;
    top: 51.7%;
    height: 8.2%;
}

#formulario>#formUp>input:nth-child(1)::placeholder {
    position: absolute;
    top: .5vh;
}

#formulario>#formInv>input:nth-child(1) {
    position: absolute;
    top: 37.3%;
    width: 85%;
    left: 9.5%;
    height: 14.2%;
    text-align: none;
    justify-content: none;
    overflow-y: scroll;
    overflow-x: scroll;
}

#formulario>#formInv>textarea:nth-child(1) {
    position: absolute;
    top: 37.3%;
    max-width: 85%;
    max-height: 14.2%;
    width: 85%;
    left: 9.5%;
    height: 14.2%;
    text-align: none;
    justify-content: none;
    background: transparent;
    font-weight: 100;
    font-size: calc(1.3vw + 1.3vh);
    font-family: "Betterflies";
    overflow-y: scroll;
}


::-webkit-scrollbar {
    width: 10px;
}

/* #formulario >#formInv >input:nth-child(1)::placeholder{*/
/* position: absolute; */
/* top: 0; */
/* flex-wrap: wrap; */
/* font-size: calc(1.3vw + 1.3vh); */
/* text-align: none; */
/* justify-content: none; */
/* } */

#formulario>form>input:nth-child(2) {
    position: absolute;
    top: 63.1%;
    height: 7.5%;
}

#formulario>form>input:nth-child(2)::placeholder {
    position: absolute;
    top: .5vh;
}

#formulario>form>input:nth-child(3) {
    position: absolute;
    top: 72.8%;
    height: 7.8%;
}

#formulario>form>input:nth-child(3)::placeholder {
    position: absolute;
    top: .5vh;
}

#formulario>form>input:nth-child(4) {
    position: absolute;
    top: 83.2%;
    height: 7%;
    left: 15%;
}

#formulario>form>input:nth-child(4)::placeholder {
    position: absolute;
    top: .5vh;
}

#formulario>form>select {
    position: absolute;
    top: 71.6%;
    height: 4.8%;
    left: 12%;
    width: 79%;
    text-align: center;
    background-color: transparent;
    font-family: "Betterflies";
    font-size: calc(.9vw + .9vh);

}

#formulario>form>select::placeholder {
    font-family: "Nikotinus", sans-serif;
    text-align: center;
    background-color: transparent;
}

#formulario>form>input:nth-child(4)::placeholder {
    position: absolute;
    top: -.5vh;
}

#formulario>form>input:nth-child(5) {
    position: absolute;
    /* bottom: 23%; */
    height: 7.5%;
    left: 14.5%;
    /* border: 3px solid black; */
    width: 74%;
}

#formulario>form>input:nth-child(5)::placeholder {
    position: absolute;
    top: .5vh;
}

#formulario>form>input:nth-child(6) {
    position: absolute;
    bottom: 10%;
    height: 5.5%;
    left: 60%;
    /* border: 3px solid black; */
    width: 35%;
}

#formulario>form>input:nth-child(6)::placeholder {
    position: absolute;
    top: -1.2vh;
}


#formulario>form>input:nth-child(2)::placeholder {
    position: absolute;
    top: -.1vh;
}

#formulario>form>button {
    position: absolute;
    bottom: -7.5%;
    height: 9%;
    left: 19.6%;
    z-index: 50;
    width: 64%;
    background-size: 105% 130%;
    background-repeat: no-repeat;
    background-position: 68% 49.2%;
    border: none;
    background-color: transparent;
}


.h13 {
    bottom: 8.6%;
    width: 10%;
    height: 5%;
    left: 19%;
}

.h14 {
    bottom: 8.5%;
    width: 10%;
    height: 5%;
    right: 25%;
}

.chb1 {
    position: absolute;
    bottom: 9%;
    margin-left: 29%;
    width: 8%;
}

.chb2 {
    position: absolute;
    bottom: 8.9%;
    margin-left: -18%;
    width: 8%;
}


#libelula {
    width: 5.2%;
    height: 12.1%;
    /* background-color: rgb(74, 70, 149); */
    /* background-image: url(../Img/libelula.png); */
    background-size: 80% 80%;
    background-position: 5% 40%;
    background-repeat: no-repeat;
    position: absolute;
    top: 2.5%;
    left: -6%;
    z-index: 27;
    z-index: 2;
}

#libelulaa {
    width: 5.2%;
    height: 12.1%;
    /* background-color: rgb(74, 70, 149); */
    /* background-image: url(../Img/libelula.png); */
    background-size: 80% 80%;
    background-position: 5% 40%;
    background-repeat: no-repeat;
    position: absolute;
    top: 57.5%;
    left: -19%;
    z-index: 27;
    z-index: 2;
}

.moveLibe {
    animation-name: animal1Movimiento;
    animation-duration: 17s;
    animation-iteration-count: infinite;
}

.moveLibe:hover {
    animation: pause;
}

.moveLibe2:hover {
    animation: pause;
}

.moveLibe2 {
    animation-name: animal1Movimiento2;
    animation-duration: 17s;
    animation-iteration-count: infinite;
}

@media (max-width: 900px) {
    .sectio {
        width: 96%;
    }
}


.marco>div:nth-child(8)>.hidden {
    display: none;
}

.marco>div:nth-child(9)>.hidden {
    display: none;
}

.hidden {
    display: none;
}

.marco>div:nth-child(46) {
    width: 58.2%;
    height: 80.1%;
    background-image: url(../Img/SVG/tablas-acceso.png.svg);
    background-size: 100% 100%;
    position: absolute;
    top: 0%;
    left: 24.9%;
    z-index: 24;
}

.marco>div:nth-child(46)>form>input {
    height: 14.5%;
    border: none;
    border-radius: 15px;
    z-index: 35;
    font-size: calc(1.5vw + 1.5vh);
    color: black;
    position: absolute;
    left: 10%;
    width: 86%;
    display: flex;
    text-align: center;
    font-family: "Betterflies";

}

.marco>div:nth-child(46)>form>input::placeholder {
    font-family: "Nikotinus";
    height: 130%;
    width: 100%;
    letter-spacing: .2vw;
    background: var(--colorFomularios);
    -webkit-background-clip: text;
    color: transparent;
    font-weight: 100;
    font-size: calc(2.1vw + 2.1vh);
    position: absolute;
}

#formularioA>form>h1 {
    position: absolute;
    top: 47%;
    width: 60%;
    left: 20%;
    height: 10%;
    font-family: "Nikotinus", sans-serif;
    font-size: calc(2vw + 2vh);
    letter-spacing: 1vw;
    background-color: red;
    font-weight: 100;
    background: var(--colorFomularios);
    -webkit-background-clip: text;
    color: transparent;
    border: none;

}

option {
    color: rgba(0, 128, 0, 0.508);
    background-color: #9df3a4;
}


#iden {
    position: absolute;
    top: 64%;
    width: 80%;
    left: 10.3%;
    height: 15%;
}



#iden::placeholder {
    position: absolute;
    top: 1.2vh;
}

#pass {
    position: absolute;
    top: 84.5%;
    width: 76%;
    left: 10.3%;
    height: 13.5%;
}

.marco>div:nth-child(46)>form>input:hover {
    background-color: #fdad3e9d;
}

.caida {
    transform: translateY(60%);
    transition: .3s ease;
    z-index: 12;
}

.caidaL {
    transform: translateY(60%);
    transition: .3s ease;
    z-index: 38;
}

.caidaLm {
    transform: translateY(35%) rotate(16deg);
    transition: .3s ease;
    left: 5%;
}

.caidaLengua {
    bottom: 17.5%;
    transition: .4s ease;
    z-index: 12;
    transform: rotate(16deg);
    left: 15%;
}

.cabezaN {
    background-image: url(../Img/Interfaz/marcelacabezita.png);
    background-size: 100% 100%;
    background-position: 0% 40%;
    transition: .4s ease;
}

.caida2 {
    transition: .4s ease;
    background-image: url(../Img/Interfaz/marcela-cabeza-inclinada.png);
    background-size: 100% 100%;
    background-position: 0% 40%;
}

.esconderAlert {
    display: none;
}


.custom-alert {
    position: absolute;
    width: 70%;
    height: 20%;
    background-color: #f8d7da;
    color: #721c24;
    border-radius: 5px;
    border: 1px solid #f5c6cb;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    bottom: 5px;
}

.custom-alert #close-alert {
    background-color: #f5c6cb;
    color: #721c24;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    float: right;
}

.custom-alert #close-alert:hover {
    background-color: #721c24;
    color: #fff;
}

#user {
    position: absolute;
    top: 50%;
    width: 61%;
    left: 19%;
    height: 6%;
    background: linear-gradient(to right, #05193788, #002c4b88, #00405388, #00524e8a, #00624063);
    border: 3px solid rgba(0, 0, 0, 0);
    text-align: center;
    font-size: calc(1vw + 1vh);
    font-family: "Betterflies";
    color: white;
}

#accederForm>label {
    position: absolute;
    top: 45.5%;
    left: 19%;
    font-family: "Betterflies";
    font-size: calc(1.2vw + 1.2vh);
    font-weight: 600;
}