@model Vanessa.Models.Usuario
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/styleInterfaz2.css">
    <link rel="stylesheet" href="~/css/animacion.css">
    <link rel="stylesheet" href="~/css/tipografias.css">
    <link rel="stylesheet" href="~/css/biblioteca.css">

    <title>Inicio de sesión</title>
</head>
@if (TempData["Success"] != null)
{
    @TempData["Success"]
}
<body id="body">

    <div class="Recuperar"><a href="@Url.Action("Solicitar", "RecuperacionContraseña")">Recupera contraseña</a></div>

    <div class="rain">
        <!-- Gotas de lluvia generadas dinámicamente con CSS -->
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
    </div>


    <section class="sectio">

        <section class="marco" id="marco">

            <!-- Tablas -->

            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div id="tablaR1" class="fondo2">
            </div>
            <div id="tablaR2" class="fondo"></div>
            <div id="btn-Datos" class="fondo3">
            </div>
            <div id="acc">
                <h1 id="btnAcc">ACCEDER</h1>
            </div>
            <div id="reg">
                <h1>REGISTRARSE</h1>
            </div>
            <div></div>
            <div></div>

            <!-- Enredaderas y mas -->

            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div id="tabla-boton-retroceder">
                <buttons></buttons>
                <div id="hiedra-atras"></div>
            </div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div id="cabeza" class="cabezaN"></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div class="lenguaMarcela" id="lM"></div>
            <div class="MarcelaLengua" id="Ml"></div>
            <div id="marta"></div>
            <div></div>
            <div id="abejaMichael">
                <div id="abeja-ala-izq"></div>
                <div id="abeja-ala-der"></div>
            </div>
            <div></div>
            <div id="formulario" class="hidden">
                <form method="POST" id="formUp" name="formUp" asp-action="Registro">
                    <input type="number" name="Documento" id="documentoR" class="input trans" placeholder="Documento" required>
                    <input type="text" name="Correo" id="correo" class="input trans" placeholder="Correo" required>
                    <input type="password" name="Contraseña" id="passRw" class="input trans" placeholder="Contraseña" required>
                    <input type="password" name="ConfirmarContraseña" id="passRe" class="input trans" placeholder="Repetir contraseña" required>
                    <input type="text" name="Nombre" id="name" class="hidden trans" placeholder="Nombre" required>
                    <button type="submit" id="btnR" name="registro"><h2>REGISTRAR</h2></button>
                </form>
            </div>
            <div></div>
            <div></div>
            <div class="hojaMov"></div>
            <div class="hojaMov"></div>
            <div class="hojaMov"></div>
            <div id="formularioA" class="hidden">
                <form method="POST" id="accederForm" asp-action="Login">
                    <label for="user">TIPO DE USUARIO</label>
                    <select name="rolId" id="user" required>
                        <option value="">Seleccione un rol</option>
                        @foreach (var rol in ViewBag.Roles)
                        {
                            <option value="@rol.Id">@rol.Nombre</option>
                        }
                    </select>
                    <input type="number" name="documento" id="iden" class="input trans" placeholder="Documento" required>
                    <input type="password" name="contraseña" id="pass" class="input trans" placeholder="Contraseña" required>
                    <button type="submit" id="btnI" name="ingreso"><h2>INGRESAR</h2></button>
                </form>

                <div class="flor flor1"></div>
                <div class="flor flor2"></div>
                <div class="flor flor3"></div>
                <div class="flo4 flor4"></div>
                <div class="flor flor5"></div>
                <div class="flor flor6"></div>
                <div class="flor flor7"></div>
                <div class="flor flor8"></div>
            </div>
            <div></div>
            <div></div>
            <section class="sectiofd"></section>
            <div class="button-Retroceder" id="retroceder"></div>

        </section>
    </section>

    <div id="libelula"></div>
    <div id="libelulaa"></div>

  

    <audio src="~/Audio/Madera Rompiendose/WoodImpactShrtBig PE1057005.mp3" type="audio/mpeg" id="table-broke-sound"></audio>
    <script src="~/Js/Js.js"></script>
    <script src="~/js/abeja.js"></script>
    <script src="~/js/confForm.js"></script>
    <script src="~/js/validarFormulario.js"></script>
</body>
</html>