
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>CorreoEnviado</title>
</head>
<body>
    <p>Hemos enviado un correo con un enlace para restablecer tu contraseña.</p>
</body>
</html>
