@model Vanessa.Models.Publicacion
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ConfirmarEliminacion</title>
</head>
<body>
    <h1>Publicación Eliminada</h1>
    <p>La publicación ha sido eliminada exitosamente.</p>

    <a asp-action="Index" class="btn btn-primary">Volver a la Lista de Publicaciones</a>
</body>
</html>
