@model Vanessa.Models.Publicacion

@{
    ViewData["Title"] = "Editar Publicación";
}

<h1>@ViewData["Title"]</h1>

<form asp-action="Edit" method="post" enctype="multipart/form-data">
    <input type="hidden" asp-for="Id_Publicacion" />

    <div class="form-group">
        <label asp-for="NombrePublicacion" class="control-label"></label>
        <input asp-for="NombrePublicacion" class="form-control" />
        <span asp-validation-for="NombrePublicacion" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="ContenidoPublicacion" class="control-label"></label>
        <textarea asp-for="ContenidoPublicacion" class="form-control"></textarea>
        <span asp-validation-for="ContenidoPublicacion" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="TipoPublicacion" class="control-label"></label>
        <input asp-for="TipoPublicacion" class="form-control" />
        <span asp-validation-for="TipoPublicacion" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="LugarPublicacion" class="control-label"></label>
        <input asp-for="LugarPublicacion" class="form-control" />
        <span asp-validation-for="LugarPublicacion" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="FechaPublicacion" class="control-label"></label>
        <input asp-for="FechaPublicacion" class="form-control" type="date" />
        <span asp-validation-for="FechaPublicacion" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="HoraPublicacion" class="control-label"></label>
        <input asp-for="HoraPublicacion" class="form-control" type="time" />
        <span asp-validation-for="HoraPublicacion" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label for="imagenPublicacion">Cambiar Imagen</label>
        <input type="file" name="imagenPublicacion" class="form-control" />
        <span>Imagen actual: @Model.ImagenPublicacion</span>
    </div>

    <div class="form-group">
        <label asp-for="ActividadesPublicacion" class="control-label"></label>
        <textarea asp-for="ActividadesPublicacion" class="form-control"></textarea>
        <span asp-validation-for="ActividadesPublicacion" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-primary">Actualizar</button>
</form>

<a href="@Url.Action("Index")" class="btn btn-secondary mt-3">Volver a la lista de publicaciones</a>
