@{
    Layout = null;
    ViewData["Title"] = "EPICSOFT"; 
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/Css/tipografias.css">
    <link rel="stylesheet" href="~/Css/Principal.css">
    <title>@ViewData["Title"]</title>
</head>
<body>
    <header>
        <h2>EPICSOFT</h2>
        <nav>
            <a href="#infoSs">QUIENES SOMOS</a>
            <a href="#infoMvv">MISION Y VISION</a>
            <a href="#infoProo">PROYECTOS</a>
            <a href="@Url.Action("Login", "Auth")">INICIO SESION</a> 
        </nav>
    </header>

    <section class="somos sec" id="infoSs">
        <div class="rama1"></div>
        <div class="rama2"></div>
        <div class="panal">
            <h2>SOMOS</h2>
            <button onclick="mostrarSomos()"></button>
        </div>
    </section>
    <section class="info-somos hide" id="infoS">
        <div>
            <img src="~/Img/Somos/fondo.png" alt="">
            <p>Somos una organización dedicada a la realización y creación de una implementación de software para el desarrollo y publicación de los proyectos de investigación creados por parte de las instituciones educativas. Buscamos ofrecer una página eficaz y fácil de usar, con el objetivo de que los estudiantes se interesen en este sitio para el desarrollo de sus investigaciones educativas e implementen su educación y desarrollo académico. Aspiramos a ser reconocidos a nivel regional por el excelente funcionamiento, desempeño e interactividad con las instituciones.</p>
        </div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <button class="btnE" onclick="esconderSomos()"></button>
    </section>

    <section class="info-misionvision sec" id="infoMvv">
        <div class="rama1"></div>
        <div class="rama2"></div>
        <div class="panal">
            <h2>MISION Y VISION</h2>
            <button onclick="mostrarMv()"></button>
        </div>
    </section>
    <section class="info-mv hide" id="infoMv">
        <div class="mision">
            <img src="~/Img/Somos/fondo.png" alt="">
            <h2>MISION</h2>
            <p>Crear una plataforma interactiva y versátil que facilite el manejo de la información y los procesos llevados a cabo en las instituciones educativas, permitiendo a cualquier persona interesada ver las actividades que se realizan en este lugar de forma sencilla. La plataforma será intuitiva y fácil de usar, de manera que la gestión de la información y la comunicación de los proyectos en las instituciones se hagan de manera eficiente y efectiva.</p>
        </div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div class="vision">
            <img src="~/Img/Somos/fondo.png" alt="">
            <h2>VISION</h2>
            <p>Llegar a ser una plataforma líder a nivel nacional e internacional, reconocida por las funciones innovadoras y efectivas que ofrecemos, destacándonos por nuestro diseño interactivo y llamativo, así como la facilidad de uso para nuestros usuarios.</p>
        </div>
        <button class="btnE" onclick="esconderMv()"></button>
    </section>
    <section class="info-proyectos sec" id="infoProo">
        <div class="rama1"></div>
        <div class="rama2"></div>
        <div class="panal">
            <h2>PROYECTOS</h2>
            <button onclick="mostrarPro()"></button>
        </div>
    </section>
    <section class="info-pro hide" id="infoPro">
        <div class="proyect1">
            <h2>PROYECTO MIRROR</h2>
            <img id="imgf" src="~/Img/Somos/fondo.png" alt="">
            <div>
                <img src="~/Img/Somos/mariposa.jpg" alt="">
            </div>
            <p>Este proyecto se centra en estudiar a las mariposas, fijándose en su comportamiento, el diseño de sus alas, estudiando la teczonomía, el cual es un tipo de ciencia que se usa para estudiar el esqueleto de un animal y descubrir cómo se reproducen y aumenta su población para ayudar al medio ambiente.</p>
        </div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div class="proyect2">
            <h2>PROYECTO HIDRO PLAN</h2>
            <img src="~/Img/Somos/fondo.png" alt="">
            <div>
                <img src="~/Img/Somos/hidro.jpg" alt="">
            </div>
            <p>Este proyecto se basa en la creación de un mecanismo hidráulico que es manejado por agua bajo tierra, el cual fue construido con partes reciclables de tubos de plástico y de metal. Este proyecto es manejado por un circuito en mantenimiento que transporta el agua a la huerta y jardines de una manera rápida y sencilla.</p>
        </div>
        <button class="btnE" onclick="esconderPro()"></button>
    </section>

    <footer>
        <h2>INFORMACION DE CONTACTO</h2>

        <div>
            <div>
                <h2>TELEFONO:</h2>
                <p>3016069693</p>
            </div>
            <div>
                <h2>EMAIL:</h2>
                <p>alivalmedina2006@gmail.com</p>
            </div>
            <p></p>
            <p class="copy">&copy; 2024 EPICSOFT. Todos los derechos reservados.</p>
        </div>

    </footer>
    <script src="~/js/Principal.js"></script>
</body>
</html>
